.projets {
  background: #bec3ca;
  width: auto;
  height: auto;
  margin: auto;
}

span i,
span a,
span a:hover {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
a img{
  filter: brightness(100%);
  transition: brightness 0.5s;
}

/* img:hover{
  filter: brightness(110%);
  cursor:pointer;

} */