.projets {
  background: rgba(55, 72, 149, 0.33);
  width: 90%;
  height: 50%;
  margin: auto;
  border-radius: 10px;

}


.All{
    border-radius: 38px; 
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.thumbnails{
  z-index: 1;
  transition: all .5s ease;
  cursor: pointer;
  overflow: hidden;
}
.thumbnails:hover{
  opacity: 0.3;
  z-index: 0;
}
.proj-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  z-index: 0;
}
.proj-thumbnails{
  padding: 15px;
  max-width:80% ;
}
.bi-github{
  font-size: 20px;
}
.seemore a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif; ;
  font-size:16px;
  font-style: italic;
  transition: all .6s ease;
}

.seemore a:hover{
  color:#EB686A;
  

}