
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


h3 a{
  
  text-decoration: none;
  color: #042f58;
}
h3 a:hover{
  color:#014891;
  text-decoration: none;
}

.mycontainer {
  margin: auto;
  max-width: 1000px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px 0px 20px 0px;
}

.mycontainer {
  
  
background: rgba(55, 72, 149, 0.33);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.8px);
-webkit-backdrop-filter: blur(8.8px);
border: 1px solid rgba(55, 72, 149, 0.02);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.mypic {
  width: 22%;
  margin: 6px;
  border-radius: 16px;
}
.mypic:hover {
  box-shadow: 11px 12px 15px -3px rgba(0, 0, 0, 0.1);
}
.info {
  width: auto;
  padding: 0px;
  margin: 0px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.info li {
  font-size: medium;
  text-decoration: none;
}
li img {
  width: 15%;
}
a label {
  color: #ffffff;
  cursor: pointer;
}
/* header */
main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
section,
.experience {
  padding-left: 14px;
}
.experience ul {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.experience ul li {
  list-style-type: disc;
}


h2,
h3,
h4,
h5,
p,
li {
  font-family: 'Playfair Display', serif;
}

h2 ,h4 {
  /* font-size: medium; */
  text-transform: uppercase;
  color: #ec5355;
}

.nom_poste {
  text-align: center;
}


p,h3 {
  color: #ffffff;
}
h5,
.explan ul li,
.forcom ul li,
header ul li,
.lan p,
.for p {
  font-size: 15px;
  color: #ffffff;
}
.explan,
.forcom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}
.lan div div label,
.lan div div progress {
  display: block;
}

.label,
.progress {
  color: #ffffff;
  display: inline-block;
  margin-left: 10px;
}

section img {
  display: inline-block;
  width: 10%;
  margin-right: 50px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 14px;
  justify-items: center;
}

.html {
  grid-area: 1 / 1 / 2 / 2;
}

.css {
  grid-area: 1 / 2 / 2 / 3;
}
.js {
  grid-area: 1 / 3 / 2 / 4;
}
.bootstrap {
  grid-area: 2 / 1 / 3 / 2;
}
.react {
  grid-area: 2 / 2 / 3 / 3;
}
.github {
  grid-area: 2 / 3 / 3 / 4;
}
.html img,
.css img,
.js img,
.bootstrap img,
.react img,
.github img {
  width: 35%;
}

.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  z-index: 0;
} 


.hbtn i {
  padding-right: 8px;
} 


.hb-fill-middle2-bg::before {
  position: absolute;
  content: "";
  background: #ec5355;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 0px;
  height: 100%;
  opacity: 1;
} 


.hb-fill-middle2-bg:hover::before {
  width: 51%;
  height: 100%;
  opacity: 1;
} 


.hb-fill-middle2-bg {
  background: transparent;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease 0s;
} 


.hb-fill-middle2-bg:hover {
  color: rgb(255, 253, 253);
  background: rgba(255, 255, 255, 0);
  transition: all 0.3s ease 0s;
} 


.hb-fill-middle2-bg::after {
  position: absolute;
  content: "";
  background: #ec5355;
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 0px;
  height: 100%;
  opacity: 1;
} 


.hb-fill-middle2-bg:hover::after {
  width: 51%;
} 


.hbor2 {
  border-width: 2px;
} 


.hbor2::before {
  border-width: 2px !important;
} 


.hpad2 {
  padding: 12px 24px !important;
} 

