*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}



.about{
    width: 100%;
    height: auto;
    overflow-y: hidden;
    
}
 img{
    width: 70%;
 }
 .text-span{
     color: #ED696B;
 }
 
 .para{
     font-size: 2.7rem;
     line-height: 5rem;
     text-align:start;
 }
 Link,Link:hover{
     color: white;
     text-decoration: none;
 }

 em{
     font-weight: 600;
 }