*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}



.about{
    width: 100%;
    min-height: fit-content;
    overflow-y: hidden;
    margin-top: 60px;
    
}
 img{
    width: 70%;
 }
 .text-span{
     color: #ED696B;
 }
 .my-div{
    width: fit-content;
 }
 .para{
    font-size: 3.5vw;
    line-height: 7vw;
    text-align:start;
    margin: 0;
 }
 Link,Link:hover{
     color: white;
     text-decoration: none;
 }

 em{
     font-weight: 600;
 }