@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
 body {
  margin: 0px;
  padding: 0px;
}

nav {
  width: 95%;
  padding-inline: 2%;
  box-sizing: border-box;
  margin-inline: auto;
  display: flex;
  
  align-items: center;
  height: 4em;
  position: relative;
  top: 1rem;
  z-index: 20;
  background: #ed696b;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
nav .brand {
  color: white;
  text-align: center;
}
.brand{
  font-family: 'Ms Madi', cursive;
  font-size: 1.4em;
  font-weight: 800;
}
.menu{
    width: 65%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 22% 0px 22% 0px;
  font-size: 1rem;
  font-family:  'Montserrat';
}
li a:hover {
  color: white;
}
li a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #fff;
  margin-bottom: -8px;
}
li a:hover::after {
  width: 100%;
  transition: all 0.5s;
}
.NavLink-active{
  color:#2B3973;
  
}
#toggler,
.nabar label {
  display: none;
}
#toggler{
    position: absolute;
    right: 14px;
  }
@media screen and (max-width: 700px) {
  .menu {
    width: 65%;
    
  }
  
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: none;
  }
  .list {
    flex-direction: column;
    align-items: center;
 
  }
  
  .nabar{
    justify-content: space-between;
  }
  .nabar label {
    display: flex;
    align-items:center;
    cursor: pointer;
  }
  
  #toggler:checked ~ .menu {
    max-height: 100%;
    display: block;
  }
} 



