@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
 /* body {
  margin: 0px;
  padding: 0px;
}

nav {
  width: 95%;
  padding-inline: 2%;
  box-sizing: border-box;
  margin-inline: auto;
  display: flex;
  
  align-items: center;
  height: 4em;
  position: relative;
  top: 1rem;
  z-index: 20;
  background: #ed696b;
  justify-content: space-between;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
nav .brand {
  color: white;
  text-align: center;
}
.brand{
  font-family: 'Ms Madi', cursive;
  font-size: 1.9em;
  font-weight: 800;
}
.menu{
    width: 65%;
}
ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

li {
  list-style: none;
}
li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 22% 0px 22% 0px;
  font-size: 1rem;
  font-family:  'Montserrat';
}
li a:hover {
  color: white;
}
li a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  background-color: #fff;
  margin-bottom: -8px;
}
li a:hover::after {
  width: 100%;
  transition: all 0.5s;
}
.NavLink-active{
  color:#2B3973;
}
#toggler,
.nabar label {
  display: none;
}

@media screen and (max-width: 700px) {
  .menu {
    width: 65%;
    
  }
  
}

@media screen and (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    display: none;
  }
  .list {
    flex-direction: column;
    align-items: center;
 
  }
  
  .nabar{
    justify-content: space-between;
  }
  .nabar label {
    display: flex;
    align-items:center;
    cursor: pointer;
  }
  .bi-list{
    position: absolute;
    right: 14px;
  }
  
  #toggler:checked ~ .menu {
    max-height: 100%;
    display: block;
  }
} 
 */
 .navbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  padding: 15px;
  /* height: 50px; */
  background: #ed696b;
  color: #ffffff;

  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */

 }
.navbar a, .list a:hover{
  text-decoration: none;
  color: #ffffff;
}

.brand{
  margin-right: 50px;
  font-family: 'Ms Madi', cursive;
  font-size: 1.9em;
  font-weight: 800;
}

.list{
  list-style: none;
  display: flex;
  gap: 80px;
  margin-bottom: 0;
}
#toggler,
.navbar label{
  display: none;
  
}
.NavLink-active{
  color:#2B3973;
}
.bi-list{
font-size: 26px;
}
@media screen and (max-width: 753px){
  .list{
    gap: 29px;
  }
}

@media screen and (max-width: 600px){
    .menu{
        width: 100%;
        max-height: 0;
        overflow: hidden;
    }
    .list{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    /* .navbar{
      height: 260px;
    } */
    .navbar label{
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        
    }
    #toggler:checked~.menu{
        max-height: 100%;
    }
    
  }